mixin tooltip(content, itemprop, link)
  //- attributes == {class: "fa fa-2x fa-edit"}
  span.tooltip.tooltip-effect(aria-hidden="false") 
    a(href=link itemprop=itemprop)
      i(class!=attributes.class) 
    span.tooltip-content
      span.tooltip-text= content

.row
  .footer-logos.col
    +tooltip('Front End Authority:\r CoFounder. Front end development meetup & online community', 'founder', 'http://FrontEndAuthority.org')(class='fa fa-2x fa-frontendauth')
    +tooltip('SPARQLCity:\r Senior Web Engineer', 'emloyee', 'http://SPARQLCity.com')(class='fa fa-2x fa-sparqlcity')
    +tooltip('Presentations & slides', 'author', 'http://azanebrain.github.io/presentations/')(class='fa fa-2x fa-comment')
    +tooltip('Advanced WordPress:\r Admin / Presenter / Sponsor', 'contributor', 'http://advancedwp.org')(class='fa fa-2x fa-wordpress')
    +tooltip('Hour of Code: donate at least one hour of code tutoring', 'contributor', 'https://hackpledge.org/')(class='fa fa-2x fa-terminal')
    +tooltip('Twitter:\r @azanebrain', 'brand', 'http://twitter.com/azanebrain')(class='fa fa-2x fa-twitter')
    +tooltip('GitHub:\r azanebrain', 'brand', 'https://github.com/azanebrain')(class='fa fa-2x fa-github')
    +tooltip('Development Log', 'author', 'http://azanebrain.github.io/')(class='fa fa-2x fa-pencil-square-o')
    +tooltip('LinkedIn is the best place to find my work history', 'brand', 'https://www.linkedin.com/in/azanebrain')(class='fa fa-2x fa-linkedin')
    +tooltip('Stack Exchange:\r AJ-ZANE', 'brand', 'http://stackexchange.com/users/1630837/aj-zane')(class='fa fa-2x fa-stack-exchange')
    +tooltip('Beer:\r I like it. I like it alot', '', '#')(class='fa fa-2x fa-beer')

    //-
      itemprop="award"
      itemprop="brand"
      itemprop="founder"
      itemprop="contactPoint"
      itemprop="author"
      itemprop="member"
      itemprop="email"
      itemprop="organizer" - organizer of an event
      itemprop="contributor" - Creative work
      
.row
  .col
    p.legal &copy; 2015+ AJ Zane
script(src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
//- script(src='../../bower_components/jquery/dist/jquery.js')

//- <!-- build:js .tmp/js/vendor/slick.min.js -->
script(src='../../bower_components/slick-carousel/slick/slick.min.js')
//- <!-- endbuild -->
script(src='js/slider.js')
