mixin tooltip(content, itemprop, link)
  //- attributes == {class: "fa fa-2x fa-edit"}
  span.tooltip.tooltip-effect(aria-hidden="false") 
    a(href=link itemprop=itemprop)
      i(class!=attributes.class) 
    span.tooltip-content
      span.tooltip-text= content

.row
  .footer-logos.col
    +tooltip('CoFounder front end development meetup and online community', 'founder', 'http://FrontEndAuthority.org')(class='fa fa-2x fa-edit')
    +tooltip('Senior Web Engineer', 'emloyee', 'http://SPARQLCity.com')(class='fa fa-2x fa-edit')
    +tooltip('I like it. I like it alot', '', '#')(class='fa fa-2x fa-beer')
    +tooltip('My presentations', 'author', 'http://azanebrain.github.io/presentations/')(class='fa fa-2x fa-comment')
    +tooltip('Advanced WordPress: Admin | Presenter | Sponsor', 'contributor', 'http://advancedwp.org')(class='fa fa-2x fa-wordpress')
    +tooltip('Hour of code : donate at least one hour of code tutoring', 'contributor', 'https://hackpledge.org/')(class='fa fa-2x fa-edit')
    +tooltip('Twitter: @azanebrain', 'brand', 'http://twitter.com/azanebrain')(class='fa fa-2x fa-twitter')
    +tooltip('GitHub: azanebrain', 'brand', 'https://github.com/azanebrain')(class='fa fa-2x fa-github')
    +tooltip('My Dev Log', 'author', 'http://azanebrain.github.io/')(class='fa fa-2x fa-pencil-square-o')
    +tooltip('LinkedIn is the best place to find my work history', 'brand', 'https://www.linkedin.com/in/azanebrain')(class='fa fa-2x fa-linkedin')
    +tooltip('Stack Exchange: AJ-ZANE', 'brand', 'http://stackexchange.com/users/1630837/aj-zane')(class='fa fa-2x fa-stack-exchange')

    //-
      itemprop="award"
      itemprop="brand"
      itemprop="founder"
      itemprop="contactPoint"
      itemprop="author"
      itemprop="member"
      itemprop="email"
      itemprop="organizer" - organizer of an event
      itemprop="contributor" - Creative work
      
.row
  .col
    p.legal &copy; 2015+ AJ Zane
script(src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
//- script(src='../../bower_components/jquery/dist/jquery.js')

//- <!-- build:js dist/js/vendor/slick.min.js -->
script(src='../../bower_components/slick-carousel/slick/slick.min.js')
//- <!-- endbuild -->
script(src='js/slider.js')
