.row
  .footer-logos.col
    //- https://schema.org/Person
    a(href="http://FrontEndAuthority.org" itemprop="affiliation")
      i(class="fa fa-edit") 
      .tooltip(aria-hidden="false") CoFounder front end development meetup and online community 
    a(href="http://SPARQLCity.com" itemprop="employee")
      i(class="fa fa-edit") 
      .tooltip(aria-hidden="false") Senior Web Engineer
    a(href="#" itemprop="employee")
      i(class="fa fa-beer") 
      .tooltip(aria-hidden="false") I like it. I like it alot
    a(href="http://azanebrain.github.io/presentations/" itemprop="author")
      i(class="fa fa-edit") 
      .tooltip(aria-hidden="false") My presentations
    a(href="http://advancedwp.org" itemprop="contributor")
      i(class="fa fa-wordpress") 
      .tooltip(aria-hidden="false") Advanced WordPress: Admin | Presenter | Sponsor
    a(href="https://hackpledge.org/" itemprop="contributor")
      i(class="fa fa-edit") 
      .tooltip(aria-hidden="false") Hour of code : donate at least one hour of code tutoring
    a(href="http://twitter.com/azanebrain" itemprop="brand")
      i(class="fa fa-twitter")
      .tooltip(aria-hidden="false") Twitter: @azanebrain
    a(href="https://github.com/azanebrain" itemprop="brand")
      i(class="fa fa-github")
      .tooltip(aria-hidden="false") GitHub: azanebrain
    a(href="http://azanebrain.github.io/" itemprop="author")
      i(class="fa fa-pencil-square-o")
      .tooltip(aria-hidden="false") Dev Log
    a(href="https://www.linkedin.com/in/azanebrain" itemprop="brand")
      i(class="fa fa-linkedin") 
      .tooltip(aria-hidden="false") LinkedIn
    a(href="http://stackexchange.com/users/1630837/aj-zane" itemprop="brand")
      i(class="fa fa-stack-exchange") 
      .tooltip(aria-hidden="false") Stack Exchange

    //-
      itemprop="award"
      itemprop="brand"
      itemprop="founder"
      itemprop="contactPoint"
      itemprop="author"
      itemprop="member"
      itemprop="email"
      itemprop="organizer" - organizer of an event
      itemprop="contributor" - Creative work
      
.row
  .col
    p.legal &copy; 2015+ AJ Zane
script(src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
//- script(src='../../bower_components/jquery/dist/jquery.js')

//- <!-- build:js dist/js/vendor/slick.min.js -->
script(src='../../bower_components/slick-carousel/slick/slick.min.js')
//- <!-- endbuild -->
script(src='js/slider.js')
